.body {
    background-color: #C1CFDE;
    margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
}
.headerBar {
    height: 200px;
    background-image: url("../img/background-header.jpg");
    background-repeat: repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#logo {
    max-width: 35%;
    top: 5px;
}

.button {
    width: 100%;
    margin-top: 10px;
    text-align: right;
}

.transparent_btn {
	display: inline-block;
	padding: 10px 14px;
	color: whitesmoke;
	border: 1px solid whitesmoke;
	text-decoration: none;
	font-size: 14px;
	line-height: 120%;
	line-height: 100%;
	background-color: rgba(255,255,255, 0);
	border-radius: 15px;
	transition: background-color 300ms ease;
    cursor: pointer;
    font-family: "Questrial", sans-serif;
    margin: 10px 20px;
}
.transparent_btn:hover {
	background-color: rgba(255,255,255, 0.3);
    color: whitesmoke;
    text-decoration: none;
}

div.buttons {
    position: relative;
    display: flex;
    width: 700px;
    align-content: center;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

hr {
    width: 100%; 
    margin: 0; 
    height: 1px;
    background-color: #344C7A;
    }


/* ------------- inbox css begins ----------- */
.messageMenu {
	float: left;
	height: 100%;
	width: 250px;
	color: rgb(95, 141, 160);
	text-align: center;
    padding-top: 17px;
    background-color: #344C7A;
    font-family: "Nunito", sans-serif;
}

p.my-info{
    font-size: 20px;
    color: rgb(183, 220, 236);
    font-family: "Nunito", sans-serif;
}

p.plate {
    color: rgb(206, 214, 223);
    font-size: 32px;
    /* border-bottom: 1px solid rgb(206, 214, 223);
    border-top: 1px solid rgb(206, 214, 223); */
    padding: 0px 5px;
}

#report-abuse {
    text-decoration: none;
    color: rgb(156, 133, 68);
    font-size: 14px;
    position: fixed;
    bottom: 0px;
    left: 65px;
}
p.inbox-title {
    font-family: "Nunito", sans-serif;
    display: inline;
    font-size: 28px;
    position: relative;
    top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    color: #344C7A;
}

#inbox-logo {
    position: relative;
    top: 17px;
    display: inline;

}

.icon {
	border: 2px solid white;
    width: 70px;
    height: 55px;
    border-radius: 49px;
    font-size: 34px;
    margin: 0 auto;
    padding-top: 14px;
}

.myname {
	font-size: 20px;
	font-weight: bold;
	margin-top: 23px;
}

.new {
	background-color: #344C7A;
    margin: 0 auto;
    width: 170px;
    height: 36px;
    border-radius: 8px;
    padding-top: 13px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.new:hover {
	background-color: #C1CFDE;
}

.search {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #eee;
}

.search input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 20px;
	padding-left: 80px;
}

input:focus {
	outline: none;
}

.messages {
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
}

.message {
	/* width: 90%; */
	border-bottom: 1px solid #344C7A;
	padding: 10px 20px;
	color: rgb(33, 50, 80);
}

div.message {
    border-bottom: none;
    padding-top: 0px;
}

#userSearch, #messageContent {
    background-color: rgba(255,255,255, 0.2);
    border: 1px solid #FFF;
    text-decoration: none;
    padding: 10px 14px;
    font-size: 16px;
    line-height: 120%;
    font-family: 'Questrial', sans-serif;
    color: whitesmoke;
    margin-right: 0px;
    border-radius: 0px;
  }
  
  input.search-input::placeholder , textarea.form-control::placeholder {
    color: whitesmoke;
    font-family: 'Questrial', sans-serif;
    padding: 9px;
  }

  
  input:focus, textarea.form-control:focus { 
    outline: none !important;
    border-color: rgb(61, 9, 54);
    box-shadow: 0 0 20px rgb(61, 9, 54);
  }
  
  div.search {
      border: none;
  }
  




.container-fluid {
    height: 100vh;
    display:table;
    width:100%;
    padding-right: 0px;
    padding-left: 0px;
    background-color: #C1CFDE;
    
} 

.inbox {
width:100%;
height: 400px;
background-color: #C1CFDE;
} 

.chatbox {
    width:100%;
    height: 600px;
    background-color: #8AA3BA;
}

.panel.panel-primary {
    margin: 10%;
}

.panel-heading {
    margin-bottom: 20px;
    text-align: center;
}

.chatPanel {
    margin-top: 0px;
}

.btn-warning {
    color: #C1CFDE;
    background-color: #344C7A;
    border-color: #344C7A;
}
