/* code below was originally in /LandingPage/style.css
<<<<<<< HEAD

=======
>>>>>>> master
body {
    background-color: cadetblue;
}
h1.display-4 {
    position: relative;
    top: 140px;
    font-family: "Questrial", sans-serif;
    color: whitesmoke;
    font-size: 100px;
}
p.tagline {
    position: relative;
    top: 140px;
    font-family: "Questrial", sans-serif;
    color: rgb(218, 218, 218);
    padding-top: 180px;
}
label {
    color: white;
}
div.forgroup > input::placeholder {
    color: rgb(190, 222, 231);
  }
div.forgroup > input:focus {
  color: rgb(190, 222, 231);
  background-color: rgb(54, 68, 71, 0.7);
  outline: none;
  box-shadow: none;
  border: 1px solid  rgb(190, 222, 231);
}
.jumbotron {
    background-image: url("../img/background.jpg");
    background-color: whitesmoke;
    width: 100%;
    margin-bottom: 10px;
    min-height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    justify-content: space-around;
    padding-top: 0px;
}
#logo-jumbotron {
    position: relative;
    margin-top: 10%; 
}
#arrow {
    display: block;
    position: fixed;
    bottom: 35px;
    left: 49%;
    margin: 0 auto;
}
div.container {
    font-family: "Questrial", sans-serif;
    color: whitesmoke;
    font-size: 14px;
	position: relative;
    bottom: 10px;
}
#intro {
	background: whitesmoke;
	padding-top: 60px;
	padding-bottom: 60px;
	color: #3f263b;
	position: relative;
	bottom: 40px;
} 
#intro h5, p {
    color: #3f263b;
}
.intro-text {
    padding: 20px 30px 20px 30px;
}
.intro-header {
    text-align: left;
    padding-left: 30px;
}
*/
.header {
    height: 200px;
    background-image: url("../img/background-header.jpg");
    background-repeat: repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#logo {
    width: 40%;
    top: 5px;
}

.button {
    width: 100%;
    margin-top: 10px;
    text-align: right;
}

.transparent_btn {
	display: inline-block;
	padding: 10px 14px;
	color: whitesmoke;
	border: 1px solid whitesmoke;
	text-decoration: none;
	font-size: 14px;
	line-height: 120%;
	line-height: 100%;
	background-color: rgba(255,255,255, 0);
	border-radius: 15px;
	transition: background-color 300ms ease;
    cursor: pointer;
    font-family: "Questrial", sans-serif;
}
.transparent_btn:hover {
	background-color: rgba(255,255,255, 0.3);
    color: whitesmoke;
    text-decoration: none;
}

div.buttons {
    position: relative;
    display: flex;
    width: 700px;
    align-content: center;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.searchBar {
    background-color: #344C7A;
}

form {
    display: block;
    margin-top: 0em;
    background-color: #344C7A;

}
    
input[type=text] {
    background-color: #344C7A;
    color:#94B2CA;
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    background-color: #C1CFDE;
    width: 100%;
}

.container-fluid {
  height: 700px; /* whatever you need */
  display:table;
  width:100%;
  padding-right: 0px;
  padding-left: 0px;
  
}

.inbox {
  width:100%;
  height: 500px;
  background-color: #C1CFDE;
} 

.compose {
    width:100%;
    height: 500px;
    background-color: #8AA3BA;
  }

  p {
      margin-left: 50px;
<<<<<<< HEAD
  }
=======
  }
>>>>>>> master
